.jaz-shop-cart-wrapper {
	float: right;
	position: relative;
}
.jaz-shop-cart {
	position: absolute;
	right: 0;
	display: none;
	z-index: 2;
	background: rgba(20,20,20,0.9);
	color: #fff;
	width: 200px;
	padding: .5em;
}
.collapse[aria-expanded="true"] {
	display: block;
}
